Repository google/santa, pull requests merged in 2022-10, with the labels that each got.

#900 Fsspool adopt
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/binaryproto.proto
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_log_batch_writer.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_log_batch_writer.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_nowindows.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_platform_specific.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_test.mm
  WORKSPACE
Labels: santad

#920 Fix: duplicates bug in SNTMetricSet when using multiple fields
  Source/common/SNTMetricSet.m
  Source/common/SNTMetricSetTest.m
  Source/santactl/Commands/SNTCommandMetrics.m
  Source/santactl/Commands/testdata/metrics-prettyprint.json
  Source/santactl/Commands/testdata/metrics-prettyprint.txt
  Source/santametricservice/Formats/SNTMetricFormatTestHelper.m
  Source/santametricservice/Formats/SNTMetricMonarchJSONFormat.m
  Source/santametricservice/Formats/SNTMetricMonarchJSONFormatTest.m
  Source/santametricservice/Formats/testdata/json/monarch.json
  Source/santametricservice/Formats/testdata/json/test.json
Labels: bug, metrics, santactl

#924 Update Known Limitations for USB Mass Storage Blocking
  docs/known-limitations.md
Labels: docs
