Repository google/santa, pull requests merged in 2022-04, with the labels that each got.

#785 santad: Use TTY path provided by ES
  Source/common/SNTCommon.h
  Source/santad/EventProviders/SNTEndpointSecurityManager.mm
  Source/santad/SNTApplication.m
  Source/santad/SNTExecutionController.m
Labels: cleanup

#786 Populate critical paths from the ES default mute set
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.m
Labels: santad

#775 syncservice: implementation and migration
  Conf/com.google.santa.syncservice.plist
  Conf/install.sh
  Conf/uninstall.sh
  Source/common/BUILD
  Source/common/SNTCommonEnums.h
  Source/common/SNTLogging.h
  Source/common/SNTLogging.m
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCSyncdInterface.h
  Source/common/SNTXPCSyncdInterface.m
  Source/santa/BUILD
  Source/santa/SNTNotificationManager.m
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandSync.m
  Source/santad/BUILD
  Source/santad/SNTApplication.m
  Source/santad/SNTDaemonControlController.m
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.m
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTPushNotifications.h
  Source/santasyncservice/SNTPushNotifications.m
  Source/santasyncservice/SNTPushNotificationsTracker.h
  Source/santasyncservice/SNTPushNotificationsTracker.m
  Source/santasyncservice/SNTSyncBroadcaster.h
  Source/santasyncservice/SNTSyncBroadcaster.m
  Source/santasyncservice/SNTSyncConstants.h
  Source/santasyncservice/SNTSyncConstants.m
  Source/santasyncservice/SNTSyncEventUpload.m
  Source/santasyncservice/SNTSyncLogging.h
  Source/santasyncservice/SNTSyncLogging.m
  Source/santasyncservice/SNTSyncManager.h
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncPostflight.m
  Source/santasyncservice/SNTSyncPreflight.m
  Source/santasyncservice/SNTSyncRuleDownload.m
  Source/santasyncservice/SNTSyncService.m
  Source/santasyncservice/SNTSyncStage.m
  Source/santasyncservice/SNTSyncState.h
  Source/santasyncservice/SNTSyncTest.m
Labels: sync service
