Repository google/santa, pull requests merged in 2023-03, with the labels that each got.

#1049 Config: Ignore static rules with an invalid identifier
  Source/common/SNTConfigurator.m
  Source/common/SNTRule.m
  Source/common/SNTRuleTest.m
  Source/santad/DataLayer/SNTRuleTableTest.m
Labels: bug

#1051 Properly report "file access client enabled" metrics
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
Labels: metrics

#1054 Support filesystem monitoring config embedded in main Santa config
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/Santad.mm
  Source/santad/SantadDeps.mm
Labels: santad

#1059 Document SigningID and PlatformBinary exception keys
  docs/deployment/file-access-auth.md
Labels: docs
