Repository google/santa, pull requests merged in 2023-01, with the labels that each got.

#1003 Configurator: Apply config updates in non-daemon processes
  Source/common/SNTConfigurator.m
Labels: enhancement

#1004 Low hanging fruit perf changes
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/EventProviders/EndpointSecurity/Message.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/Logs/EndpointSecurity/Writers/File.h
  Source/santad/Logs/EndpointSecurity/Writers/File.mm
  Source/santad/Logs/EndpointSecurity/Writers/FileTest.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: cleanup, santad

#1007 GUI: Re-write AboutWindow view in SwiftUI
  Source/gui/BUILD
  Source/gui/Resources/AboutWindow.xib
  Source/gui/SNTAboutWindowController.h
  Source/gui/SNTAboutWindowController.m
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTAppDelegate.m
  WORKSPACE
Labels: enhancement

#1010 GUI: Migrate DeviceMessageWindow to SwiftUI
  Source/gui/BUILD
  Source/gui/Resources/DeviceMessageWindow.xib
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTDeviceMessageWindowController.h
  Source/gui/SNTDeviceMessageWindowController.m
  Source/gui/SNTDeviceMessageWindowView.swift
  Source/gui/SNTMessageWindowController.h
  Source/gui/SNTMessageWindowController.m
  WORKSPACE
Labels: enhancement, gui

#1018 Log type metrics
  Source/santad/SNTApplicationCoreMetrics.mm
  Source/santad/SNTApplicationCoreMetricsTest.mm
Labels: metrics

#1019 Fix: Rewrite the SNTMetricHTTPWriter to avoid potential stack corruption
  Source/santametricservice/Writers/SNTMetricHTTPWriter.m
Labels: metrics
