Repository google/santa, pull requests merged in 2023-10, with the labels that each got.

#1202 Remove mention of KEXT from README.md
  README.md
Labels: docs

#1204 Update configuration.md that push notifications not widely available
  docs/deployment/configuration.md
Labels: docs

#1205 Update syncing-overview.md with note on push notifications
  docs/introduction/syncing-overview.md
Labels: docs

#1199 Fix issue preventing rule import / export from working
  Source/santactl/Commands/SNTCommandRule.m
Labels: santactl

#1209 Enable e2e testing on macOS 14
  .github/workflows/e2e.yml
  Testing/integration/BUILD
  Testing/integration/VM/bash_control.sh
  Testing/integration/allow_sysex.scpt
  Testing/integration/dismiss_santa_popup.scpt
  Testing/integration/install_profile.scpt
  Testing/integration/test_sync_changes.sh
Labels: testing

#1213 Support printing bundle info via santactl fileinfo command
  Source/santactl/Commands/SNTCommandFileInfo.m
Labels: santactl

#1211 Unmount USB on start
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/santad/BUILD
  Source/santad/EventProviders/DiskArbitrationTestUtil.h
  Source/santad/EventProviders/DiskArbitrationTestUtil.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.h
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/Santad.mm
  docs/deployment/configuration.md
Labels: santad, configurator

#1215 Additional build deps
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandFileInfo.m
Labels: build
