Repository google/santa, pull requests merged in 2023-09, with the labels that each got.

#1173 Add Tests for #1165 Behavior.
  Source/santad/SNTExecutionControllerTest.mm
Labels: santad, testing

#1178 Bump bazel and build_bazel_rules_apple versions
  .bazelversion
  Source/santad/SNTExecutionController.mm
  WORKSPACE
Labels: build

#1177 Make Transitive Allowlisting Work with Signing ID rules
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.m
  docs/concepts/rules.md
Labels: santad, rules

#1179 Update Protobuf and Abseil versions
  .bazelrc
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandPrintLog.mm
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  WORKSPACE
  external_patches/com_google_protobuf/10120.patch
  external_patches/com_google_protobuf/13636.patch
Labels: build

#1174 UI For Blocked File Access
  Source/common/BUILD
  Source/common/CertificateHelpers.h
  Source/common/CertificateHelpers.m
  Source/common/SNTBlockMessage.h
  Source/common/SNTBlockMessage.m
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTFileAccessEvent.h
  Source/common/SNTFileAccessEvent.m
  Source/common/String.h
  Source/gui/BUILD
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowController.h
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/Santad.mm
  Source/santad/TTYWriter.h
  Source/santad/TTYWriter.mm
Labels: santad, gui, file access authorization

#1175 Add ability to override File Access actions via config and sync settings
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.m
  Source/common/SNTXPCControlInterface.h
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/SNTDaemonControlController.mm
  Source/santasyncservice/SNTSyncPostflight.m
  Source/santasyncservice/SNTSyncPreflight.m
  Source/santasyncservice/SNTSyncState.h
  Source/santasyncservice/SNTSyncTest.m
  docs/development/sync-protocol.md
Labels: sync service, santad, configurator

#1170 Add basic support for importing and exporting rules to/from JSON
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/SNTRuleTest.m
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCControlInterface.m
  Source/santactl/Commands/SNTCommandRule.m
  Source/santad/DataLayer/SNTRuleTable.h
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santad/SNTDaemonControlController.mm
Labels: rules, santactl

#1182 Flatten deps to satisfy internal checkers
  Source/common/BUILD
  Source/gui/BUILD
Labels: build

#1183 Internal build fixes
  Source/common/BUILD
  Source/gui/BUILD
Labels: build

#1185 Use 'set -xo pipefail' instead for lint.sh
  Testing/lint.sh
Labels: build

#1184 Pin GitHub Actions to Specific Versions
  .github/workflows/ci.yml
Labels: build

#1186 Add ability to specify custom event URLs and button text for FAA dialog
  Source/common/BUILD
  Source/common/SNTBlockMessage.h
  Source/common/SNTBlockMessage.m
  Source/common/SNTBlockMessageTest.m
  Source/common/SNTXPCNotifierInterface.h
  Source/gui/SNTFileAccessMessageWindowController.h
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/Santad.mm
  docs/deployment/configuration.md
  docs/deployment/file-access-auth.md
  docs/index.md
Labels: gui, file access authorization

#1188 Remove superfluous import
  Source/gui/SNTFileAccessMessageWindowView.swift
Labels: build

#1187 Update sync-protocol.md
  docs/development/sync-protocol.md
Labels: docs, sync service

#1193 Fix missing Santa block gif
  README.md
  docs/images/santa-block.gif
Labels: docs

#1196 santactl/sync: Drop root requirement
  Source/santactl/Commands/SNTCommandSync.m
Labels: sync service
