Repository google/santa, pull requests merged in 2023-05, with the labels that each got.

#1083 Add support to file monitoring config to invert process exceptions
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  docs/deployment/file-access-auth.md
Labels: file access authorization

#1077 Docs: Added instructions for how to use config-overrides.plist
  docs/development/building.md
Labels: docs

#1093 Return unique_ptr from Enrich instead of shared_ptr
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
Labels: santad

#1099 Handle database downgrade scenarios gracefully
  Source/santad/DataLayer/SNTDatabaseTable.m
  Source/santad/DataLayer/SNTEventTable.m
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/SNTDatabaseController.m
Labels: santad

#1102 Fix missing check for FileChangesRegex
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
Labels: santad

#1105 Update docs for signing id rules
  docs/concepts/events.md
  docs/concepts/rules.md
Labels: docs
