Repository google/santa, pull requests merged in 2023-08, with the labels that each got.

#1138 Check if spool dir has changed before estimating size
  Source/common/TestUtils.h
  Source/common/TestUtils.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_log_batch_writer.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_test.mm
Labels: logging, santad

#1141 Have distributed notifications delivered immediately
  Source/gui/SNTNotificationManager.m
  Source/gui/SNTNotificationManagerTest.m
Labels: gui

#1142 Only update daemon settings when sync settings explicitly set
  Source/santasyncservice/SNTSyncPostflight.m
  Source/santasyncservice/SNTSyncPreflight.m
  Source/santasyncservice/SNTSyncState.h
Labels: sync service, santad

#1144 sync: Add SyncExtraHeaders config option.
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/santasyncservice/SNTSyncStage.m
Labels: enhancement, sync service

#1140 sync/UI: Add ability to send custom URLs for blocking rules.
  Source/common/SNTBlockMessage.h
  Source/common/SNTBlockMessage.m
  Source/common/SNTCachedDecision.h
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.m
  Source/common/SNTXPCNotifierInterface.h
  Source/gui/SNTBinaryMessageWindowController.h
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTNotificationManager.m
  Source/gui/SNTNotificationManagerTest.m
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTNotificationQueue.h
  Source/santad/SNTNotificationQueue.m
  Source/santad/SNTPolicyProcessor.m
  docs/development/sync-protocol.md
Labels: enhancement, sync service, rules, gui

#1145 Add hot cache for targets of read only policies
  Source/common/TestUtils.h
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
Labels: santad, file access authorization

#1148 Add support for was_mmaped_writeable to file write monitoring when using macOS 13+
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
Labels: santad

#1151 Fix issue where re config types couldn't be overridden
  Source/common/SNTConfigurator.m
Labels: santad, testing

#1156 sync: Send `rules_received` and `rules_processed` fields in postflight request
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.m
  Source/santasyncservice/SNTSyncPostflight.m
  Source/santasyncservice/SNTSyncRuleDownload.m
  Source/santasyncservice/SNTSyncState.h
  docs/development/sync-protocol.md
Labels: sync service

#1162 Fix new buildifier issues
  Source/common/BUILD
  WORKSPACE
Labels: cleanup

#1160 Additional metrics for File Access Authorizer client
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: metrics, santad

#1161 Use default event detail button text when a custom URL is set
  Source/gui/SNTBinaryMessageWindowController.m
Labels: gui

#1165 Fix issue where client mode was almost always logged as "Unknown"
  Source/santad/SNTPolicyProcessor.m
Labels: bug, logging, santad
