Repository google/santa, pull requests merged in 2023-11, with the labels that each got.

#1214 Add E2E testing for usb
  .github/workflows/e2e.yml
  Testing/integration/BUILD
  Testing/integration/VM/Common/MacOSVirtualMachineConfigurationHelper.h
  Testing/integration/VM/Common/MacOSVirtualMachineConfigurationHelper.m
  Testing/integration/VM/VMCLI/BUILD
  Testing/integration/VM/VMCLI/main.m
  Testing/integration/VM/VMGUI/AppDelegate.m
  Testing/integration/actions/start_vm.py
  Testing/integration/dismiss_usb_popup.scpt
  Testing/integration/test_usb.sh
Labels: testing

#1210 Add Support for CS_INVALIDATED events
  Source/common/santa.proto
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/EmptyTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
  Source/santad/testdata/protobuf/v1/cs_invalidated.json
  Source/santad/testdata/protobuf/v2/cs_invalidated.json
  Source/santad/testdata/protobuf/v4/cs_invalidated.json
  Source/santad/testdata/protobuf/v5/cs_invalidated.json
  Source/santad/testdata/protobuf/v6/cs_invalidated.json
  Testing/integration/VM/Common/MacOSVirtualMachineConfigurationHelper.m
  Testing/integration/VM/VMCLI/main.m
  Testing/integration/actions/start_vm.py
Labels: logging, santad

#1216 Support remounting devices at startup with correct flags
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.m
  Source/santad/EventProviders/DiskArbitrationTestUtil.h
  Source/santad/EventProviders/DiskArbitrationTestUtil.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  docs/deployment/configuration.md
Labels: santad

#1219 Add OnStartUSBOptions to santactl status
  Source/santactl/Commands/SNTCommandStatus.m
Labels: santactl

#1220 Fix remount issue for APFS formatted drives
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
Labels: bug, santad

#1221 Update to the latest hedron_compile_commands
  WORKSPACE
Labels: build

#1222 Only remount on startup if remount args are set
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
Labels: santad

#1230 Explicitly cast strings to std::string_view
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
Labels: testing, build

#1223 Add name for white space check
  .github/workflows/check-markdown.yml
Labels: testing

#1231 Fix internal build issues, minor cleanup.
  Source/common/santa.proto
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
Labels: cleanup, build

#1233 Entitlements logging config options
  Source/common/PrefixTree.h
  Source/common/SNTCachedDecision.h
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/EventProviders/AuthResultCache.h
  Source/santad/EventProviders/AuthResultCache.mm
  Source/santad/EventProviders/AuthResultCacheTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/SNTExecutionController.h
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.m
  Source/santad/Santad.mm
  Source/santad/SantadDeps.mm
  Source/santad/testdata/protobuf/v1/exec.json
  Source/santad/testdata/protobuf/v2/exec.json
  Source/santad/testdata/protobuf/v4/exec.json
  Source/santad/testdata/protobuf/v5/exec.json
  Source/santad/testdata/protobuf/v6/exec.json
  docs/deployment/configuration.md
Labels: logging, santad, configurator

#1238 Experimental metrics
  Source/santad/BUILD
  Source/santad/SNTPolicyProcessor.m
Labels: metrics, santad, testing

#1241 Ignore TeamID and SigningID rules for dev signed code
  Source/santad/BUILD
  Source/santad/SNTPolicyProcessor.m
Labels: santad

#1243 Bump to C++20
  .bazelrc
Labels: build

#1245 Fix test issue caused by move to C++20
  Source/common/SantaCacheTest.mm
Labels: bug, testing

#1246 Revert back to C++17 for now
  .bazelrc
  Source/common/SantaCacheTest.mm
Labels: build

#1247 Project: Remove provisioning_profiles attributes from command-line to…
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santametricservice/BUILD
  Source/santasyncservice/BUILD
Labels: build

#1248 Expand debug logging for transitive rule failure case
  Source/santad/SNTCompilerController.mm
Labels: logging, transitive allowlisting
