Repository google/santa, pull requests merged in 2023-06, with the labels that each got.

#1108 Abstract TTY writing so multiple writers can be synchronized
  Source/santad/BUILD
  Source/santad/SNTExecutionController.h
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SantadDeps.mm
  Source/santad/TTYWriter.h
  Source/santad/TTYWriter.mm
Labels: santad

#1106 Basic dialog functionality when access to a watch item is denied
  Source/common/BUILD
  Source/common/SNTFileAccessEvent.h
  Source/common/SNTFileAccessEvent.m
  Source/common/SNTXPCNotifierInterface.h
  Source/common/String.h
  Source/gui/BUILD
  Source/gui/SNTDeviceMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowController.h
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTNotificationManager.h
  Source/gui/SNTNotificationManager.m
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/Santad.mm
Labels: file access authorization

#1112 Add Support for Logging to JSON (beta feature)
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.m
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  docs/deployment/configuration.md
Labels: serializers

#1120 Fix rule evaluation for TeamID and SigningID rules when encountering invalid signatures
  Source/santad/SNTPolicyProcessor.m
Labels: santad, rules

#1121 Fix check to detect changes to StaticRules
  Source/santad/Santad.mm
Labels: santad
