Repository google/santa, pull requests merged in 2024-05, with the labels that each got.

#1338 lint.sh set -e
  .pyink-config
  .pylintrc
  MODULE.bazel
  Source/gui/SNTBinaryMessageWindowController.m
  Source/santad/BUILD
  Source/santad/EventProviders/DiskArbitrationTestUtil.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santad/ProcessTree/annotations/originator.cc
  Source/santad/ProcessTree/annotations/originator.h
  Testing/fix.sh
  Testing/integration/actions/start_vm.py
  Testing/integration/actions/update_vm.py
  Testing/lint.sh
  WORKSPACE
  non_module_deps.bzl
Labels: cleanup

#1339 Project: Move fuzzing rules to bzlmod, fix santa_unit_test
  MODULE.bazel
  WORKSPACE
  helper.bzl
Labels: build

#1341 Update to Abseil 20240116.1. Fix includes.
  MODULE.bazel
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_nowindows.cc
Labels: build

#1304 Update SNTPolicyProcessor to use a map
  Source/santad/BUILD
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.mm
  Source/santad/SNTPolicyProcessorTest.mm
Labels: santad, authorizer

#1343 Add necessary dep for SNTPolicyProcessorTest
  Source/santad/BUILD
Labels: build

#1342 santad: Bump QoS of notify handling queue
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
Labels: santad

#1346 Adopt --preserve-metadata flag to simplify resigning with entitlements
  Conf/Package/package_and_sign.sh
Labels: build

#1350 Project: Re-enable layering_checks
  BUILD
  Source/common/BUILD
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santametricservice/BUILD
  Source/santametricservice/Formats/BUILD
  Source/santametricservice/Writers/BUILD
  Source/santasyncservice/BUILD
  Testing/integration/BUILD
  Testing/integration/VM/Common/BUILD
  external_patches/OCMock/BUILD
  external_patches/moroz/BUILD
  profiles/BUILD
Labels: build

#1351 GUI: Fix unicode rendering of attributed messages
  Source/common/BUILD
  Source/common/SNTBlockMessage.m
  Source/common/SNTBlockMessageTest.m
Labels: bug, gui

#1348 Add metric for when the file on disk is not the file being evaluated
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/EventProviders/EndpointSecurity/Message.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.mm
Labels: metrics, santad

#1354 Fix stat metrics accounting.
  Source/common/SNTCommonEnums.h
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/EventProviders/EndpointSecurity/Message.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/SNTExecutionController.mm
Labels: metrics

#1361 docs: Document new EventDetailURL keys
  docs/deployment/configuration.md
  docs/development/sync-protocol.md
Labels: docs
