Repository google/santa, pull requests merged in 2024-03, with the labels that each got.

#1300 Added clean flags for JSON rule import
  Source/santactl/Commands/SNTCommandRule.m
Labels: santactl

#1302 Add required dep for internal builds
  Source/santactl/BUILD
Labels: build

#1307 Implement NSSecureCoding for SNTRuleIdentifiers
  Source/common/SNTRuleIdentifiers.h
  Source/common/SNTRuleIdentifiers.m
Labels: bug, allstar

#1310 Fix: Do not flush authcache when receiving duplicate block rules from the sync service
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
Labels: santad, rules

#1312 Overrides disabled when running tests unless explicitly enabled
  Source/common/SNTConfigurator.m
Labels: testing

#1313 Add CDHash to rule evaluation order documentation
  docs/concepts/rules.md
Labels: docs
