Repository google/santa, pull requests merged in 2024-01, with the labels that each got.

#1262 Fix `santactl rule --check`
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandRule.h
  Source/santactl/Commands/SNTCommandRule.m
  Source/santactl/Commands/SNTCommandRuleTest.mm
Labels: santactl

#1264 Change build target visibility
  Source/santactl/BUILD
Labels: build

#1265 Fix wrong srcs paths
  Source/santactl/BUILD
Labels: build

#1259 Added documentation to clarify clean sync with zero rule behavior
  docs/development/sync-protocol.md
Labels: docs, sync service

#1270 Docs add missing config keys
  Source/common/SNTConfigurator.m
  docs/deployment/configuration.md
Labels: docs

#1271 Add back support for EnableForkAndExitLogging config key
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
Labels: bug

#1274 chore: Fix typo s/occured/occurred/
  docs/development/sync-protocol.md
Labels: docs

#1277 Make santactl status always print out transitive rule status if set
  Source/santactl/Commands/SNTCommandRule.m
  Source/santactl/Commands/SNTCommandStatus.m
Labels: santactl

#1275 Sync clean all
  Fuzzing/santad/src/databaseRuleAddRules.mm
  Source/common/BUILD
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTConfiguratorTest.m
  Source/common/SNTRuleTest.m
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.m
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCControlInterface.m
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCUnprivilegedControlInterface.h
  Source/santactl/Commands/SNTCommandRule.m
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santactl/Commands/SNTCommandSync.m
  Source/santad/DataLayer/SNTRuleTable.h
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/SNTCompilerController.mm
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santasyncservice/SNTSyncEventUpload.m
  Source/santasyncservice/SNTSyncManager.h
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncPostflight.m
  Source/santasyncservice/SNTSyncPreflight.m
  Source/santasyncservice/SNTSyncRuleDownload.m
  Source/santasyncservice/SNTSyncService.m
  Source/santasyncservice/SNTSyncStage.m
  Source/santasyncservice/SNTSyncState.h
  Source/santasyncservice/SNTSyncTest.m
  docs/development/sync-protocol.md
Labels: enhancement, sync service, rules, santactl, configurator, transitive allowlisting
