Repository google/santa, pull requests merged in 2024-07, with the labels that each got.

#1371 Login/logout events
  MODULE.bazel
  Source/common/BUILD
  Source/common/String.h
  Source/common/TestUtils.mm
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
  Source/santad/Metrics.mm
Labels: enhancement, logging, santad

#1379 Add string serialization for new login/logout events
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
Labels: logging, santad

#1380 Add protobuf serialization for new login/logout events
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/testdata/protobuf/v6/login_login.json
  Source/santad/testdata/protobuf/v6/login_login_failed_attempt.json
  Source/santad/testdata/protobuf/v6/lw_session_lock.json
  Source/santad/testdata/protobuf/v6/lw_session_login.json
  Source/santad/testdata/protobuf/v6/lw_session_logout.json
  Source/santad/testdata/protobuf/v6/lw_session_unlock.json
  Source/santad/testdata/protobuf/v6/openssh_login.json
  Source/santad/testdata/protobuf/v6/openssh_login_failed_attempt.json
  Source/santad/testdata/protobuf/v6/openssh_logout.json
  Source/santad/testdata/protobuf/v6/screensharing_attach.json
  Source/santad/testdata/protobuf/v6/screensharing_attach_unset_fields.json
  Source/santad/testdata/protobuf/v6/screensharing_detach.json
Labels: enhancement, logging, santad

#1381 Use class member access operator for underlying ES message
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
Labels: santad

#1383 fileinfo: cap the number of concurrent operations
  Source/santactl/Commands/SNTCommandFileInfo.m
Labels: santactl

#1384 Adopt namespace naming guidelines - part 1
  Source/common/PrefixTree.h
  Source/common/PrefixTreeTest.mm
  Source/common/ScopedCFTypeRef.h
  Source/common/ScopedCFTypeRefTest.mm
  Source/common/ScopedIOObjectRef.h
  Source/common/ScopedIOObjectRefTest.mm
  Source/common/ScopedTypeRef.h
  Source/common/String.h
  Source/common/Unit.h
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.h
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/EndpointSecurity/MockEndpointSecurityAPI.h
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.h
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/SanitizableString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
  Source/santad/SNTDaemonControlController.h
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/Santad.h
  Source/santad/Santad.mm
  Source/santad/SantadDeps.h
  Source/santad/SantadDeps.mm
  Source/santad/TTYWriter.mm
  Source/santasyncservice/SNTSyncEventUpload.mm
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncStage.mm
Labels: cleanup

#1385 Namespace simplification pt2
  Source/common/ScopedIOObjectRefTest.mm
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.h
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.h
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.h
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/MockLogger.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/EmptyTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/SanitizableString.h
  Source/santad/Logs/EndpointSecurity/Serializers/SanitizableString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/SanitizableStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.h
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
  Source/santad/Logs/EndpointSecurity/Serializers/UtilitiesTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/File.h
  Source/santad/Logs/EndpointSecurity/Writers/File.mm
  Source/santad/Logs/EndpointSecurity/Writers/FileTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/Null.h
  Source/santad/Logs/EndpointSecurity/Writers/Null.mm
  Source/santad/Logs/EndpointSecurity/Writers/Spool.h
  Source/santad/Logs/EndpointSecurity/Writers/Spool.mm
  Source/santad/Logs/EndpointSecurity/Writers/SpoolTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/Syslog.h
  Source/santad/Logs/EndpointSecurity/Writers/Syslog.mm
  Source/santad/Logs/EndpointSecurity/Writers/Writer.h
  Source/santad/SNTCompilerController.h
  Source/santad/SNTCompilerController.mm
  Source/santad/SNTCompilerControllerTest.mm
  Source/santad/SNTDaemonControlController.h
  Source/santad/SNTDaemonControlController.mm
  Source/santad/Santad.h
  Source/santad/Santad.mm
  Source/santad/SantadDeps.h
  Source/santad/SantadDeps.mm
Labels: cleanup

#1387 Namespace simplification pt4 (final)
  Source/santad/EventProviders/AuthResultCache.h
  Source/santad/EventProviders/AuthResultCache.mm
  Source/santad/EventProviders/AuthResultCacheTest.mm
  Source/santad/EventProviders/RateLimiter.h
  Source/santad/EventProviders/RateLimiter.mm
  Source/santad/EventProviders/RateLimiterTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.h
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.h
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.h
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTreeAwareClient.h
  Source/santad/EventProviders/SNTEndpointSecurityTreeAwareClient.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/SNTDaemonControlController.h
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionController.h
  Source/santad/SNTExecutionController.mm
  Source/santad/Santad.h
  Source/santad/Santad.mm
  Source/santad/SantadDeps.h
  Source/santad/SantadDeps.mm
  Source/santad/SantadTest.mm
  Source/santad/TTYWriter.h
  Source/santad/TTYWriter.mm
  Source/santad/main.mm
Labels: cleanup

#1388 fileinfo: add --filter-inclusive
  Source/santactl/Commands/SNTCommandFileInfo.m
  Source/santactl/Commands/SNTCommandFileInfoTest.m
Labels: enhancement, santactl

#1389 sync: Handle parse errors, make some preflight fields optional
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncStage.mm
  Source/santasyncservice/syncv1.proto
Labels: sync service

#1391 sync: Parse response as proto when SyncEnableProtoTransfer enabled
  Source/santasyncservice/SNTSyncStage.mm
Labels: sync service

#1394 Allow empty data for 200 responses
  Source/santasyncservice/SNTSyncStage.mm
Labels: sync service, build

#1395 Improve handling of sync response default values
  Source/common/SNTConfigurator.m
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncTest.mm
  Source/santasyncservice/syncv1.proto
  docs/deployment/configuration.md
  docs/development/sync-protocol.md
Labels: sync service, configurator

#1396 GUI: Update activation policy for binary blocks
  Source/gui/SNTDeviceMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTNotificationManager.m
Labels: gui

#1397 Fix check for deprecated clean sync key
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncTest.mm
Labels: sync service

#1399 GUI: Make dismiss button configurable, change default text back to dismiss
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/gui/Resources/MessageWindow.xib
  Source/gui/SNTBinaryMessageWindowController.h
  Source/gui/SNTBinaryMessageWindowController.m
Labels: enhancement, gui

#1400 Docs: Add DismissText key to configuration.md
  docs/deployment/configuration.md
Labels: docs

#1402 sync: Handle missing error string for abnormal statuses
  Source/santasyncservice/SNTSyncStage.mm
Labels: sync service

#1404 sync: Fix serial_num field name
  Source/common/SNTSystemInfo.h
  Source/common/SNTSystemInfo.m
  Source/santad/BUILD
  Source/santad/main.mm
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncStage.mm
  Source/santasyncservice/SNTSyncTest.mm
  Source/santasyncservice/syncv1.proto
  Source/santasyncservice/testdata/sync_preflight_request.json
Labels: sync service

#1405 santad: Synchronize access to metric callback array
  Source/common/SNTMetricSet.m
Labels: bug

#1406 sync: Upgrade from SCNetworkReachability -> nw_path_monitor
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncFCM.m
  Source/santasyncservice/SNTSyncManager.m
Labels: sync service

#1408 sync: Improve logging when connection restored, avoid retries.
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncStage.mm
Labels: sync service
