Repository google/santa, pull requests merged in 2024-02, with the labels that each got.

#1236 ProcessTree: add core process tree logic (1/4)
  Source/santad/BUILD
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santad/ProcessTree/annotations/annotator.h
  Source/santad/ProcessTree/process.h
  Source/santad/ProcessTree/process_tree.cc
  Source/santad/ProcessTree/process_tree.h
  Source/santad/ProcessTree/process_tree.proto
  Source/santad/ProcessTree/process_tree_macos.mm
  Source/santad/ProcessTree/process_tree_test.mm
  Source/santad/ProcessTree/process_tree_test_helpers.h
  Source/santad/ProcessTree/process_tree_test_helpers.mm
Labels: process annotations

#1284 Fix automatically denied events with small deadlines
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/SantadTest.mm
Labels: bug, santad

#1285 Respect fail closed on deadlines
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTExecutionControllerTest.mm
  docs/deployment/configuration.md
Labels: enhancement, santad, configurator

#1286 Add build dep for internal process
  Source/santad/ProcessTree/BUILD
Labels: build

#1287 Remove proc tree tests for now as the code isn't yet included in builds
  Source/santad/BUILD
Labels: build

#1237 ProcessTree: add macOS specific loader and ES adapter (2/4)
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/SNTEndpointSecurityAdapter.h
  Source/santad/ProcessTree/SNTEndpointSecurityAdapter.mm
  Source/santad/ProcessTree/process_tree_macos.h
  Source/santad/ProcessTree/process_tree_macos.mm
  Source/santad/ProcessTree/process_tree_test.mm
Labels: process annotations

#1298 Refactor rule and count lookups
  Source/common/BUILD
  Source/common/SNTRuleIdentifiers.h
  Source/common/SNTRuleIdentifiers.m
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCUnprivilegedControlInterface.h
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandRule.m
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.h
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santad/SNTCompilerController.mm
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.m
  Source/santasyncservice/SNTSyncPreflight.m
  Source/santasyncservice/SNTSyncTest.m
Labels: cleanup
