Repository google/santa, pull requests merged in 2024-06, with the labels that each got.

#1360 santad: Add signal auth to tamper resistence.
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
Labels: enhancement, santad

#1364 sync: Add option to sync using binary protos
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/santasyncservice/SNTSyncStage.mm
  docs/deployment/configuration.md
Labels: sync service, configurator

#1363 Modernize docs (Round 1)
  Source/common/SNTXPCBundleServiceInterface.h
  docs/binaries/blocked_execution.png
  docs/binaries/blocked_faa.png
  docs/binaries/mount_forced_flags.png
  docs/binaries/santa-gui.md
  docs/binaries/santabs.md
  docs/binaries/santabundleservice.md
  docs/binaries/santactl.md
  docs/binaries/santad.md
  docs/binaries/santametricservice.md
  docs/binaries/santasyncservice.md
  docs/concepts/ipc.md
  docs/concepts/mode.md
  docs/concepts/santa_ipc.png
  docs/deployment/configuration.md
  docs/index.md
  docs/introduction/binary-authorization-overview.md
  docs/introduction/syncing-overview.md
  docs/known-limitations.md
Labels: docs

#1366 docs(ISSUE-1325): Add Identifier Conventions
  docs/development/contributing.md
Labels: docs

#1367 Use new Apple docs link for global proxy settings constants
  .github/workflows/check-markdown.yml
  Source/common/SNTConfigurator.h
  docs/deployment/configuration.md
  docs/development/contributing.md
Labels: docs

#1368 Fix santd title in docs
  docs/binaries/santad.md
Labels: cleanup, docs

#1372 docs: Update references to SNTXPCConnection
  docs/concepts/ipc.md
Labels: docs

#1373 santad: Fix metrics for AuthSignal events
  Source/santad/Metrics.mm
Labels: bug, metrics, santad

#1374 Add tests to ensure EventTypeToString handles all subscriptions
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
  Source/santad/Metrics.h
Labels: testing

#1376 Proto tests min version support
  Source/common/BUILD
  Source/common/Platform.h
  Source/common/PrefixTree.h
  Source/common/TestUtils.h
  Source/common/TestUtils.mm
  Source/santad/EventProviders/DiskArbitrationTestUtil.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManagerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/ProcessTree/annotations/originator.h
  Source/santad/testdata/protobuf/v1/cs_invalidated.json
  Source/santad/testdata/protobuf/v1/file_access.json
  Source/santad/testdata/protobuf/v2/cs_invalidated.json
  Source/santad/testdata/protobuf/v2/file_access.json
  Source/santad/testdata/protobuf/v4/file_access.json
  Source/santad/testdata/protobuf/v5/file_access.json
Labels: testing

#1377 Drop macos 11
  .github/workflows/ci.yml
  Source/common/Platform.h
  Source/common/SNTMetricSet.m
  Source/common/TestUtils.mm
  Source/gui/BUILD
  Source/gui/main.m
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
  Source/santad/SNTApplicationCoreMetricsTest.mm
  Source/santametricservice/BUILD
  Source/santametricservice/Formats/SNTMetricFormatTestHelper.m
  Source/santametricservice/Formats/SNTMetricMonarchJSONFormat.m
  Source/santasyncservice/BUILD
  Testing/integration/BUILD
  helper.bzl
Labels: build
