Repository google/santa, pull requests merged in 2024-04, with the labels that each got.

#1321 Bump MOLCodesignChecker tag to latest
  WORKSPACE
Labels: build

#1322 Fix: Update code to use the new MOLCodesignChecker interfaces for codesigning info
  Source/common/SNTXPCControlInterface.m
  Source/santactl/Commands/SNTCommandFileInfo.m
  Source/santactl/Commands/SNTCommandRule.m
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.m
Labels: santad, testing, santactl

#1323 Add macOS-14 to the test matrix
  .github/workflows/ci.yml
Labels: testing, build

#1296 ProcessTree: add the first annotation, originator (4/4)
  Source/santad/BUILD
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santad/ProcessTree/annotations/originator.cc
  Source/santad/ProcessTree/annotations/originator.h
  Source/santad/ProcessTree/annotations/originator_test.mm
  Source/santad/ProcessTree/process_tree.proto
  Source/santad/SantadDeps.mm
Labels: process annotations

#1317 Bump protobuf to v26.1
  Source/santactl/Commands/SNTCommandPrintLog.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  WORKSPACE
  external_patches/com_google_protobuf/13636.patch
  external_patches/com_google_protobuf/BUILD
Labels: cleanup, build

#1324 Project: Migrate to bazel modules
  .bazelversion
  .gitignore
  MODULE.bazel
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/SantadTest.mm
  WORKSPACE
  helper.bzl
  non_module_deps.bzl
Labels: build
